<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--head-->
    <%= render 'layouts/rails_default' %>
   <!--IE対応-->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!--header-->
    <%= render 'layouts/header' %>
    <div class="container">
      
      <!--flash-->
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      
      <%= yield %>
      
      <!--footer-->
      <%= render 'layouts/footer' %>
      
      <!--debug-->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>