<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <!--head-->
    <%= render 'layouts/rails_default' %>
   <!--IE対応-->
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <!--header-->
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      
      <!--footer-->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>